/* CSS RESET */

/* makes sizing simpler */

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */

* {
	margin: 0;
	padding: 0;
	font: inherit;
}

html {
	color-scheme: dark light;
}

body {
	min-height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	padding-top: 40px;
	font-family: "Inter", sans-serif;
	color: #89969f;
}

img,
picture,
svg,
video {
	display: block;
	max-width: 100%;
}

h1,
h2,
h3 {
	font-family: "Space Grotesk", sans-serif;
}

/* HEADER */
header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 100%;
	padding: 0 40px 0 40px;
}

#logo {
	font-family: Space Grotesk;
	font-size: 2rem;
	font-weight: 700;
	letter-spacing: -0.11rem;
}

/* SEARCH */
#search-container {
	display: flex;
	width: 30vw;
}
#search-location {
	display: flex;
	gap: 16px;
	padding: 8px 16px;
	width: 100%;

	font-size: 1.125rem;
	font-weight: 600;

	border-radius: 7px 0 0 7px;
	border: 2px solid #dee7ee;
	border-right: none;
	background: #fff;
}

#searchbox:hover {
	opacity: 50%;
}

#searchbox::placeholder {
	opacity: 50%;
}

#searchbox {
	outline: none;
	border: none;
	color: #89969f;
	font-weight: 500;
}

.fa-location-dot {
	color: #b8c5d0;
	width: 18px;
	height: 18px;
	padding-right: 8px;
}

#btn-search {
	padding: 8px 32px;
	background-color: #89969f;
	color: #fff;
	outline: none;
	border: none;
	border-radius: 0 7px 7px 0;

	font-size: 1.125rem;
	font-weight: 600;
}

#btn-search:hover {
	opacity: 50%;
}

/* SWITCH */
#switch-scale {
	display: flex;
}

#switch-scale > p {
	padding: 8px 32px;
	font-weight: 700;
}

#switch-scale > p:first-of-type {
	border-radius: 4px 0 0 4px;
}

#switch-scale > p:last-of-type {
	border-radius: 0 4px 4px 0;
}

#switch-scale p.selected {
	background-color: #89969f;
	color: white;
	font-size: 1.125rem;
}

#switch-scale p:not(.selected) {
	border: 1px solid #89969f;
}

#switch-scale p:not(.selected):hover {
	background-color: #89969f;
	opacity: 50%;
	color: #fff;
}

/* TODAY INFO */
#city {
	font-weight: 500;
}

#today-container {
	display: flex;
	gap: 24px;
	align-items: center;
	flex-grow: 1;
}

#today-img {
	height: 30vh;
	aspect-ratio: 1 / 1;
}

#today-date {
	opacity: 50%;
	font-size: 0.875rem;
	font-weight: 500;
}

#today-condition {
	font-size: 2rem;
	font-weight: 700;
}

#today-temperature {
	leading-trim: both;
	text-edge: cap;
	font-size: 10rem;
	font-weight: 800;
}

#today-maxmin-temp {
	opacity: 50%;
	font-size: 1.5rem;
	font-weight: 500;
}

/* FORECAST */

#forecast-container {
	height: 20vh;
	display: flex;
	gap: 40px;
	align-items: center;
	padding-bottom: 120px;
}

.forecast-info-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 8px;
}

p.day {
	font-size: 1.125rem;
	font-weight: 700;
}

.forecast-img {
	width: 3.75rem;
	height: 3.75rem;
}

.max-min-container {
	display: flex;
	gap: 8px;
}

.max-min-container > p:first-child {
	font-weight: 500;
}

.max-min-container > p:not(:first-child) {
	opacity: 50%;
}

/* LOADING ANIMATION */

#loading {
	width: 12rem;
	height: 12rem;
	border: 24px solid #f3f3f3;
	border-top: 24px solid #9c41f2;
	border-radius: 100%;
	margin: auto;
	animation: spin 1.5s infinite linear;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.hide {
	display: none !important;
}
